html,
body {
  height: 80%;
  width: 100%;
}
#root {
  height: 80%;
  width: 100%;
}
.App {
  text-align: center;
  margin: 0 100px 100px 100px;
  height: 100%;
}

/* --------------
NAV
------------------ */
nav {
  text-align: left;
  height: 100px;
  width: 100%;
  border: 1px solid red;
}
nav,
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
div.navElement {
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid blue;
}

/* --------------
MAIN
------------------ */
div.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  border: 2px solid black;
}
div.practiceStackContainer {
  /* height: fit-content; */
  height: 100%;
  width: 40%;
  /* border: 1px solid red; */
}
div.practiceStackElement {
  width: 100%;
  height: 40px;
}
div.moduleContainer {
  width: 60%;
  height: 100%;
}
div.module {
  width: 100%;
  height: 50%;
  /* padding: 25%; */
  border: 2px solid blue;
}
